*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}

nav{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: center;
}

nav a{
    display: flex;
    justify-content: center;
    margin-right: 2%;
    padding-bottom: 2%;
    color: black;
    text-decoration: none;
}

nav a:hover{
    font-size: 25px;
    font-size-adjust: 20px;
    transition: all 250ms;
}

#img{
    background-image: url("Main2.jpg");
    box-sizing: border-box;
    width: 100%;
    height: 70vh;
}

.flyin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30%;
    padding-top: 12%;
    color: rgb(234, 243, 248);
    font-weight: 300;
    font-size: xx-large;
    text-shadow: -20px 10px 17px rgb(226, 240, 247) ;
    animation: flyin 1s ease-in;
}

@keyframes flyin{
    0%{
        transform: translatey(-200%);
    }
    100%{
        transform: translatex(0%);
    }
}

#about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px 25px;
}

.aboutcontent{
    display: flex;
    margin-bottom: 70px;
}

.photodp{
    border-radius: 20%;
    width: 20%;
    height: 20%;
    margin-left: 20%;
}

article p{
    float: right;
    margin-right: 120px;
    margin-top: 80px;
    margin-left: 2%;
    white-space: inherit;
}

.cv{
    font-weight: 900;
    text-decoration: none;
    color: #000;
}

.cv:hover{
    text-decoration: underline;
}

#project{
    background-color: rgba(0, 7, 12, 0.945);
    color: #fff;
}

#project h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.landingimage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing{
    width: 79%;
}

.landing:hover{
    width: 95%;
    transition: all 500ms ease-in-out;
    border-radius: 20%; 
    opacity: 0.7;
}

#project p{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;
}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.contactcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reachme{
    font-size: x-large;
    margin-right: 40%;
    font-weight: bold;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img a{
    margin: 2%;
    text-decoration: none;
    color: black;
}

.img a:hover{
    background-color: black;
    border-radius: 20%;
    color: white;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    transition: all 300ms;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 2%;
}

@media screen and (max-width: 400px) and (min-width: 100px) {
    nav a{
        font-size: small;
    }

    #img{
        background-image: url("Main400.jpg");
        box-sizing: border-box;
        width: 100%;
        height: 30vh;
    }
    
    .flyin{
        font-size: large;
        padding-top: 24%;
    }

    .photodp{
        width: 60%;
        margin-bottom: .1px;
        padding-bottom: .1px;;
    }
    
    .aboutcontent{
        display: flex;
        flex-direction: column;
    }

    article p{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 18%;
        margin-right: 18%;
        margin-top: 3%;
    }

    #project p{
        margin-bottom: 50%;
        font-size: small;
    }

    #contact{
        margin-top: 8%;
    }

    .reachme{
        font-size: large;
        font-weight: 500;
        margin-right: 40%;
        margin-top: 5%;
        margin-bottom: 1.5%;
        font-weight: bold;
    }

    .img a{
        margin: 1%;
        text-decoration: none;
        color: black;
    }

    .copyright{
        font-size: small;
    }
}

@media screen and (max-width: 600px) and (min-width:401px){
    nav a{
        font-size: small;
    }

    #img{
        background-image: url("Main600.jpg");
        box-sizing: border-box;
        width: 100%;
        height: 40vh;
    }
    
    .flyin{
        font-size: large;
        padding-top: 17%;
    }

    .photodp{
        width: 60%;
        margin-bottom: .1px;
        padding-bottom: .1px;;
    }
    
    .aboutcontent{
        display: flex;
        flex-direction: column;
    }

    article p{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 17%;
        margin-right: 17%;
        margin-top: 3%;
    }

    #project p{
        margin-bottom: 40%;
        font-size: small;
    }

    #contact{
        margin-top: 8%;
    }

    .reachme{
        font-size: large;
        font-weight: 500;
        margin-right: 40%;
        margin-top: 5%;
        margin-bottom: 1.5%;
        font-weight: bold;
    }

    .img a{
        margin: 1%;
        text-decoration: none;
        color: black;
    }

    .copyright{
        font-size: small;
    }
}

@media screen and (max-width: 800px) and (min-width:601px){
    nav a{
        font-size: small;
    }

    #img{
        background-image: url("Main800.jpg");
        box-sizing: border-box;
        width: 100%;
        height: 50vh;
    }
    
    .flyin{
        font-size: x-large;
        padding-top: 15%;
    }

    .photodp{
        border-radius: 20%;
        width: 20%;
        height: 20%;
        margin-left: 20%;
    }
    
    article p{
        float: right;
        margin-right: 100px;
        margin-top: 20px;
        margin-left: 2%;
        white-space: inherit;
    }

    #project p{
        margin-bottom: 40%;
        font-size: small;
    }

    #contact{
        margin-top: 8%;
    }

    .reachme{
        font-size: large;
        font-weight: 500;
        margin-right: 40%;
        margin-top: 5%;
        margin-bottom: 1.5%;
        font-weight: bold;
    }

    .img a{
        margin: 1%;
        text-decoration: none;
        color: black;
    }

    .copyright{
        font-size: small;
    }
}

@media screen and (max-width: 1000px) and (min-width:801px){
    #img{
        background-image: url("Main1000.jpg");
        width: 100%;
        height: 50vh;
    }

    .flyin{
        padding-top: 15%;
    }

    article p{
        margin-top: 6%;
    }
}

/**
@media screen and (max-width: 1500px) and (min-width:1001px){
    nav a{
        font-size: x-large;
    }
    
    #img{
        background-image: url("Main1500.jpg");
        box-sizing: border-box;
        width: 100%;
        height: 60vh;
    }
    
    .flyin{
        padding-top: 20%;
        font-weight: 900;
        font-size: xx-large;
    }
    
    #about{
        font-size: xx-large;
    }
    
    .aboutcontent{
        display: flex;
        margin-bottom: 70px;
        font-size: x-large;
    }
    
    .photodp{
        border-radius: 20%;
        width: 25%;
        height: 20%;
        margin-left: 20%;
    }
    
    article p{
        float: right;
        margin-right: 120px;
        margin-top: 90px;
        margin-left: 2%;
        white-space: inherit;
    }
    
    #project{
        font-size: x-large;
    }
    
    #project h3{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 50px;
    }
    
    
    #contact{
        font-size: x-large;
    }
    
    .contactcontent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .reachme{
        font-size: x-large;
    }
    
    
    .img a{
        margin: 2%;
        text-decoration: none;
        color: black;
        font-size: x-large;
    }
    
    .copyright{
        font-size: large;
    }
}
**/